# Copier ce fichier en .env puis remplir les valeurs
MQTT_HOST=votre-cluster.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=votre_utilisateur
MQTT_PASS=votre_mot_de_passe

DISCORD_TOKEN=votre_token_discord
